body {
  background-color: black;
}

h2 {
  color: white
}

.title {
  margin-top: 40px;
}

.cards {
  display: flex;
  justify-content: center;
  /* max-height: 60vh; */
  margin-top: 60px;
}

.spacer {
  margin: 60px;
}

.MuiCard-root:hover{
  transform: scale(1.1)
}

.MuiCardActionArea-root {
  height: 100%
}

.top-poke {
  display: flex;
  justify-content: center;
}